<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.nike.ad.utility</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/Technician Resources/NikeADUtility.app/Contents/MacOS/NikeADUtility</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>10800</integer>
        <key>KeepAlive</key>
        <dict>
                <key>PathState</key>
                <dict>
                        <key>/Library/Caches/.runADUtility</key>
                        <true/>
                </dict>
        </dict>
	<key>StandardOutPath</key>
	<string>/Library/Logs/Nike/NikeADUtility.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Nike/NikeADUtility.log</string>
</dict>
</plist>
